@model HomeDetailsViewModel

@{
    ViewBag.Title = "Employee Details";
    var photoPath = "~/Images/" + (Model.Employee.PhotoPath ?? "undraw.png");
}

 <div class="row justify-content-center m-3">
    <div class="card d-flex .flex-column align-items-center" style="width: 30rem;">
        <img src="@photoPath" class="card-img-top imageThumbnail" alt="..." asp-append-version="true">
        @* <img src="@photoPath" class="card-img-top img-fluid" alt="..." asp-append-version="true"> *@
        <div class="card-body">
            <h5 class="card-title">@Model.Employee.Name</h5>
            <h5 class="card-title">@Model.Employee.Email</h5>
            <h5 class="card-title">@Model.Employee.Department</h5>
            
            <a asp-controller="home" asp-action="index" class="btn btn-primary">Back</a>
            <a asp-controller="home" asp-action="edit" asp-route-id="@Model.Employee.Id" class="btn btn-primary">Edit</a>
            <a href="#" class="btn btn-danger">Delete</a>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/CustomScript.js"></script>
}
